*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: linear-gradient(rgb(159, 25, 25) ,rgb(0, 0, 0));
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:center; /*word in center*/
    align-items:center ; /*div in center*/
}
.container-54{
    width: 80%;
    height: 80%;
    background: rgba(0, 0, 0, 0.93);
    border-radius: 20px;
    background-image: url(z.jpeg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    

}
nav .logo-54{
    color: aliceblue;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 700;

}
nav ul li{
    display: inline-block; /* on one line*/
    margin: 0 6px; /*space between home , chracter ,about*/
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    font-weight: 350;
}
nav ul li a:hover{
    color: red;
}
.text-54{
    color: aliceblue;
    margin: auto;
}
.text-54 h2{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 2px 2px rgb(157, 1, 1);
}

.content-54 {
    margin-top: 80px;
}

.content-54 .text-54 {
    margin-left: 40px;
}


.content-54 .text-54 {
    margin-left: 40px;
}


.content-54 .text-54 h4 {
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
}


.content-54 .text-54 p {
    margin-top: 10px;
    line-height: 30px;
    font-style: italic;
    font-weight: bold;
}
iframe {
    margin-left: 90px;
    margin-top: 20px;
}
.btn-54{
    width: 150px;
    height: 45px;
    border-radius: 45px;
    cursor: pointer;
    border: none;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-right: 310px;
}
.btn-54:hover{
    background: #dd0805;
    transform: translateY(-7px);
    color: #fff;
    box-shadow: 0px 10px 25px rgba(255, 39, 39, 0.441); 
}
.mid-54{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

